<section id="Charts" class="styleguide">
    <h1>Charts (Google charts)</h1>
    <div class="code-sample">
        <div google-chart chart="chart">
        </div>
        <p>
            Software:
            <input type=range min=10000 max=100000 value={{aa}} ng-model="aa" ng-change="chart.data[1][1]=1*aa"> {{aa}}
        </p>
        <p>
            Hardware:
            <input type=range min=10000 max=100000 value={{bb}} ng-model="bb" ng-change="chart.data[2][1]=1*bb">{{bb}}
        </p>
        <p>
            Services:
            <input type=range min=10000 max=100000 value={{cc}} ng-model="cc" ng-change="chart.data[3][1]=1*cc">{{cc}}
        </p>
    </div>
</section>
