<!-- TODO: elipsis move to stylesheet -->
<section id="List-Flex" class="styleguide">
    <h1>List-Flex</h1>
    <div class="code-sample">
        <div class="list-flex list-flex-bordered">
            <!-- ROW -->
            <div class="list-flex-row">
                <div class="list-flex-item flex-initial">
                    <div class="avatar-actions avatar-actions-hover">
                        <img class="avatar" src="http://placehold.it/126x126">
                        <i class="icon icon-check"></i>
                        <i class="icon icon-checkbox"></i>
                    </div>
                </div>
                <div class="list-flex-item flex1 ellipsis">
                    <div class="list-flex-item-heading ellipsis"> He'll try to make the precise location appear </div>
                    <div class="list-flex-item-text ellipsis">
                        He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say. I've done more that.
                    </div>
                </div>
                <div class="list-flex-item flex-none hidden-xs hidden-sm hidden-md">
                    <button class="btn btn-default btn-xs">SOLICITAR ACCESO</button>
                </div>
                <div class="list-flex-item flex-none">
                    <a role="button" href="#" class="list-flex-btn btn btn-link btn-link-icon hidden-xs hidden-sm hidden-md">
                        <i class="icon-star-off " tooltip="Marcar como..."></i>
                    </a>
                    <span class="dropdown" dropdown on-toggle="toggled(open)">
                        <a href dropdown-toggle role="button" href="#" class="dropdown-toggle list-flex-btn btn btn-link btn-link-icon">
                             <i class="icon icon-more"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in items">
                                <a href>{{choice}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <!-- Moble --><!-- END Moble -->
            <!-- END ROW -->
            <!-- ROW -->
            <div class="list-flex-row">
                <div class="list-flex-item flex-initial">
                    <div class="avatar-actions avatar-actions-hover">
                        <img class="avatar" src="http://placehold.it/126x126">
                        <i class="icon icon-check"></i>
                        <i class="icon icon-checkbox"></i>
                    </div>
                </div>
                <div class="list-flex-item flex1 ellipsis">
                    <div class="list-flex-item-heading ellipsis"> He'll try to make the precise location appear </div>
                    <div class="list-flex-item-text ellipsis">
                        He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say. I've done more that.
                    </div>
                </div>
                <div class="list-flex-item flex-none hidden-xs hidden-sm hidden-md">
                    <button class="btn btn-default btn-xs">SOLICITAR ACCESO</button>
                </div>

                <div class="list-flex-item flex-initial">
                    <i class="icon-pag-next" tooltip="tooltip"></i>
                </div>
                
                <div class="list-flex-item flex-none">
                    <a role="button" href="#" class="list-flex-btn btn btn-link btn-link-icon hidden-xs hidden-sm hidden-md">
                        <i class="icon-star-off " tooltip="Marcar como..."></i>
                    </a>
                    <span class="dropdown" dropdown on-toggle="toggled(open)">
                        <a href dropdown-toggle role="button" href="#" class="dropdown-toggle list-flex-btn btn btn-link btn-link-icon">
                             <i class="icon icon-more"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in items">
                                <a href>{{choice}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <!-- Moble --><!-- END Moble -->
            <!-- END ROW -->
            <!-- ROW -->
            <div class="list-flex-row active">
                <div class="list-flex-item flex-initial">
                    <div class="avatar-actions avatar-actions-hover">
                        <img class="avatar" src="http://placehold.it/126x126">
                        <i class="icon icon-check"></i>
                        <i class="icon icon-checkbox"></i>
                    </div>
                </div>
                <div class="list-flex-item flex1 ellipsis">
                    <div class="list-flex-item-heading ellipsis"> He'll try to make the precise location appear </div>
                    <div class="list-flex-item-text ellipsis">
                        He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say. I've done more that.
                    </div>
                </div>
                <div class="list-flex-item flex-none hidden-xs hidden-sm hidden-md">
                    <button class="btn btn-default btn-xs">SOLICITAR ACCESO</button>
                </div>
                <div class="list-flex-item flex-none">
                    <a role="button" href="#" class="list-flex-btn btn btn-link btn-link-icon hidden-xs hidden-sm hidden-md">
                        <i class="icon-star-off " tooltip="Marcar como..."></i>
                    </a>
                    <span class="dropdown" dropdown on-toggle="toggled(open)">
                        <a href dropdown-toggle role="button" href="#" class="dropdown-toggle list-flex-btn btn btn-link btn-link-icon">
                             <i class="icon icon-more"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in items">
                                <a href>{{choice}}</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <!-- Moble -->
            <div class="list-flex-mobile list-flex-row visible-xs visible-sm visible-md">
                <div class="list-flex-item">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs">SOLICITAR ACCESO</button>
                        <a role="button" href="#" class="btn btn-link btn-link-icon">
                            <i tooltip="Add like" class="icon-like-off"></i>
                        </a>
                        <a role="button" href="#" class="btn btn-link btn-link-icon nav-temp">
                            <i class="icon-comment"></i>
                        </a>
                        <a role="button" href="#" class="btn btn-link btn-link-icon nav-temp">
                            <i class="icon-star-off " tooltip="Marcar como..."></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END ROW -->



            <!-- ROW-Footer -->
            <div class="list-flex-row list-flex-row-footer">
                <div class="list-flex-item flex1 ellipsis">
                    Ver todos los resultados
                </div>
            </div>
        </div>
    </div>
</section>
