<section id="Modal" class="styleguide">
    <h1>Modal</h1>
    <div class="code-sample">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <h3 class="modal-title pull-left">I'm a modal!</h3>
                    <a href="" class="pull-right">
                        <i class="icon icon-close"></i>
                    </a>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            <a>item1</a>
                        </li>
                        <li>
                            <a>item2</a>
                        </li>
                        <li>
                            <a>item3</a>
                        </li>
                    </ul>
                    Selected: <b>item1</b>
                </div>
                <div class="modal-footer ng-scope">
                    <button class="btn btn-primary">OK</button>
                    <button class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </div>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <h3 class="modal-title pull-left">I'm a modal!</h3>
                    <a href="" class="pull-right">
                        <i class="icon icon-close"></i>
                    </a>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            <a>item1</a>
                        </li>
                        <li>
                            <a>item2</a>
                        </li>
                        <li>
                            <a>item3</a>
                        </li>
                    </ul>
                    Selected: <b>item1</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <h3 class="modal-title pull-left">I'm a modal!</h3>
                    <a href="" class="pull-right">
                        <i class="icon icon-close"></i>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="post-box-active post-box clearfix">
                        <div class="post-box-top">
                            <!-- Avatar component -->
                            <a class="pull-left" href="#">
                                <img class="avatar" src="http://placehold.it/40x40" />
                            </a>
                            <div class="ellipsis"> <span class="icon-label">He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.  <a href=""><i class="icon icon-down-big icon-link"></i></a></span></div>
                        </div>
                        <div class="post-box-content">
                            <div class="post-box-head box">
                                <div class="share-select">
                                    <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="select2" ng-disabled="disabled" style="width: 100%">
                                        <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                                        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                                            <small>
                                                        email: {{person.email}}
                                                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                                      </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="contenteditable" contenteditable='true' placeholder="Lorem">
                                    He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.
                                    <input type="text" value="Pedro Aspiazu" class="label-primary mention" zy-elastic-input="" disabled="" size="13"/>
                                    <input type="text" value="#Feature" class="label-primary hastag" size="8"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
