<section id="Post-Box" class="styleguide">
    <h1>Post-Box</h1>
    <div class="code-sample">
        <div class="post-box box clearfix">
            <div class="post-box-top">
                <!-- Avatar component -->
                <a class="pull-left" href="#">
                    <img class="avatar" src="http://placehold.it/40x40" />
                </a>
                <input type="text" class="form-control" />
            </div>
        </div>
        <h2>Post-Box-Active</h2>
        <hr/>
        <div class="post-box-active post-box box clearfix">
            <div class="post-box-top">
                <!-- Avatar component -->
                <a class="pull-left" href="#">
                    <img class="avatar" src="http://placehold.it/40x40" />
                </a>
                <div class="ellipsis"> <span class="icon-label"><b>Dirección</b> <a href=""><i class="icon icon-down-big icon-link"></i></a></span></div>
            </div>
            <div class="post-box-content">
                <div class="post-box-head box">
                    <div class="share-select">
                        <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="select2" ng-disabled="disabled" style="width: 100%">
                        <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
                        email: {{person.email}}
                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                        </small>
                        </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="contenteditable" contenteditable='true' placeholder="Lorem">
                        He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.
                        <input type="text" value="Pedro Aspiazu" class="label-primary mention" zy-elastic-input="" disabled="" size="13">
                        <input type="text" value="#Feature" class="label-primary hastag" disabled size="8">
                    </div>
                </div>
                <div class="footer-buttons">
                    <button type="button" class="btn btn-link btn-link-icon pull-left"> <i class="icon icon-attachment"></i></button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="button" class="btn btn-primary">Publicar</button>
                </div>
            </div>
        </div>
        <h2>Post-Box-Active-thumbs</h2>
        <hr/>
        <div class="post-box-active post-box box clearfix">
            <div class="post-box-top">
                <!-- Avatar component -->
                <a class="pull-left" href="#">
                    <img class="avatar" src="http://placehold.it/40x40" />
                </a>
                <div class="ellipsis"> <span class="icon-label"><b>Dirección</b> <a href=""><i class="icon icon-down-big icon-link"></i></a></span></div>
            </div>
            <div class="post-box-content">
                <div class="post-box-head box">
                    <div class="share-select">
                        <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="select2" ng-disabled="disabled" style="width: 100%">
                        <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
                        email: {{person.email}}
                        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                        </small>
                        </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="contenteditable" contenteditable='true' placeholder="Lorem">
                        He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.
                        <input type="text" value="Pedro Aspiazu" class="label-primary mention" zy-elastic-input="" disabled="" size="13">
                        <input type="text" value="#Feature" class="label-primary hastag" disabled size="8">
                    </div>
                    <ul class="thumbnail-box-list clearfix">
                        <li class="thumbnail-box">
                            <div class="thumbnail-box-image"></div>
                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                        </li>
                        <li class="thumbnail-box">
                            <div class="thumbnail-box-image"></div>
                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                        </li>
                        <li class="thumbnail-box">
                            <div class="thumbnail-box-image"></div>
                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                        </li>
                        <li class="thumbnail-box">
                            <div class="thumbnail-box-image"></div>
                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                        </li>
                        <li class="thumbnail-box thumbnail-box-add">
                            <i class="icon icon-add"></i>
                        </li>
                    </ul>
                </div>
                <div class="footer-buttons">
                    <button type="button" class="btn btn-link btn-link-icon pull-left"> <i class="icon icon-attachment"></i></button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="button" class="btn btn-primary">Publicar</button>
                </div>
            </div>
        </div>
    </div>
</section>