   <div class="zy-navbar">
            <div class="navbar-primary">
                <div class='head-nav navbar navbar-default navbar-fixed-top table-layout'>
                    <!-- Logo -->
                    <div class="table-layout-left">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle visible-mobile">
                            <span class="sr-only">Toggle navigation</span>
                            <div class="badge badge-danger badge-absolute">10</div>
                            <span class="icon icon-menu"></span>
                            </button>
                            <a class="navbar-brand hidden-mobile" id="organization-avatar">
                                <img src="https://app.zyncro.com/assets/images/logo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="table-layout-right hidden-mobile">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" dropdown>
                                <a href class="dropdown-toggle" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                    <div class="badge badge-danger badge-absolute">10</div>
                                    <i class="navbar-avatar icon icon-alert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Actividad</a></li>
                                    <li><a href="#">Archivos</a></li>
                                    <li><a href="#">Grupos</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Personas</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" dropdown>
                                <a href class="dropdown-toggle" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                    <i class="navbar-avatar icon icon-users"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Actividad</a></li>
                                    <li><a href="#">Archivos</a></li>
                                    <li><a href="#">Grupos</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Personas</a></li>
                                </ul>
                            </li>
                            <li class="dropdown plus" dropdown>
                                <a href class="dropdown-toggle" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-add"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <div class="plus-content">
                                            <tabset>
                                            <tab>
                                            <tab-heading>
                                            Message
                                            </tab-heading>
                                            <div class="post-box-active post-box clearfix">
                                                <div class="post-box-top">
                                                    <!-- Avatar component -->
                                                    <a href="#">
                                                        <img class="avatar" src="http://placehold.it/40x40" />
                                                    </a>
                                                    <div class="ellipsis"> <span class="icon-label">He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.  <a href><i class="icon icon-down-big icon-link"></i></a></span></div>
                                                </div>
                                                <div class="post-box-content">
                                                    <div class="post-box-head box">
                                                        <div class="share-select">
                                                            <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="select2" ng-disabled="disabled">
                                                            <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
                                                            <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                                                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                                                            <small>
                                                            email: {{person.email}}
                                                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                                            </small>
                                                            </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                        <div class="contenteditable" contenteditable='true' placeholder="Lorem">
                                                            He says he's found the main computer to power the tractor beam that's holding the ship here. He'll try to make the precise location appear on the monitor. The tractor beam is coupled to the main reactor in seven locations. A power loss at one of the terminals will allow the ship to leave. I don't think you boys can help. I must go alone. Whatever you say.
                                                            <input type="text" value="Pedro Aspiazu" class="label-primary mention" zy-elastic-input="" disabled="" size="13">
                                                            <input type="text" value="#Feature" class="label-primary hastag" disabled size="8">
                                                        </div>
                                                    </div>
                                                    <div class="footer-buttons">
                                                        <button type="button" class="btn btn-link btn-link-icon"> <i class="icon icon-attachment"></i></button>
                                                        <button type="button" class="btn btn-default">Cancelar</button>
                                                        <button type="button" class="btn btn-primary">Publicar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </tab>
                                            <tab>
                                            <tab-heading>
                                            Archivo
                                            </tab-heading>
                                            <form class="upload-box" name="uploadBoxForm" role="form">
                                                <div class="drop-area">
                                                    <span class="drop-label">droparea</span>
                                                    <ul class="thumbnail-box-list clearfix">
                                                        <li class="thumbnail-box">
                                                            <div class="thumbnail-box-image"></div>
                                                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                                                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                                                        </li>
                                                        <li class="thumbnail-box">
                                                            <div class="thumbnail-box-image"></div>
                                                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                                                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                                                        </li>
                                                        <li class="thumbnail-box">
                                                            <div class="thumbnail-box-image"></div>
                                                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                                                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                                                        </li>
                                                        <li class="thumbnail-box">
                                                            <div class="thumbnail-box-image"></div>
                                                            <div class="thumbnail-box-label" tooltip="thumbnail-box">thumbnail.jpg</div>
                                                            <i class="thumbnail-box-close icon icon-close" tooltip="thumbnail-box" tooltip-placement="top"></i>
                                                        </li>
                                                        <li class="thumbnail-box thumbnail-box-add">
                                                            <i class="icon icon-add"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <input type="text" class="form-control" />
                                                <div class="footer-buttons">
                                                    <button type="button" class="btn btn-link btn-link-icon"> <i class="icon icon-attachment"></i></button>
                                                    <button type="button" class="btn btn-default">Cancelar</button>
                                                    <button type="button" class="btn btn-primary">Publicar</button>
                                                </div>
                                            </form>
                                            </tab>
                                            <tab>
                                            <tab-heading>
                                            Grupos
                                            </tab-heading>
                                            <form class="plus-form">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="text">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="text">
                                                </div>
                                                <div class="footer-buttons">
                                                    <button type="button" class="btn btn-default">Cancelar</button>
                                                    <button type="button" class="btn btn-primary">Publicar</button>
                                                </div>
                                            </form>
                                            </tab>
                                            </tabset>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="table-layout-content">
                        <div class="search search-icon search-bg">
                            <div class="input-group">
                                <div class="search-input">
                                    <input type="text" ng-model="customSelected" placeholder="Custom template" typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control">
                                    <div class="icon icon-find"></div>
                                </div>
                                <span class="input-group-btn">
                                    <div class="btn-group" dropdown is-open="status.isopenSearch">
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        TODO <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Actividad</a></li>
                                            <li><a href="#">Archivos</a></li>
                                            <li><a href="#">Grupos</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Personas</a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-layout">
                        <div class="table-layout-collapsed visible-mobile">
                            <!-- TODO: this is from zyncro-base repeated in line 210 -->
                            <ul class="sidemenu">
                                <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 01</a></li>
                                <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 02</a></li>
                                <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 03</a></li>
                                <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 04</a></li>
                                <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 05</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END NAVBAR -->
<div class="main-body table-layout">
     <!--Mobile sidemenu -->
    <div class="table-layout-left pull-left hidden-xs hidden-sm hidden-md">
        <ul class="sidemenu">
            <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 01</a></li>
            <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 02</a></li>
            <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 03</a></li>
            <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 04</a></li>
            <li class="sidemenu-item"><a href="#" title=""><i class="icon-user-details"></i>Item 05</a></li>
        </ul>
    </div>
    <div ui-view="main-sidebarRight" class="table-layout-right pull-right hidden-xs">
        <!-- SideBar Right -->
        <div class="sidebar-right">
            <div class="widget">
                <span class="dropdown-toggle">TAGS MAS USADOS</span>
                <div class="cloudTags" id="cloud-tags-widget"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </div>
    </div>
    <div ui-view="main-content" class="table-layout-content" style="">
        <div class="main container-fluid">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>