// Avatar
@mixin avatar-variant($radius, $size, $borderColor, $borderSize) {
    border-radius: $radius;
    // border: $borderSize solid $borderColor;
    width: $size;
    height: $size;
    background-size: $size $size;
    background-repeat: no-repeat;
    display: inline-block;
}

@mixin avatar-icon-size($size) {
    width: $size;
    height: $size;
}
@mixin avatar-icon-color($background) {
    background: $background;
    color: #ffffff;
}