//
// HELPERS
// --------------------------------------------------


// @import "compass/css3";
// Aligner
// --------------------------------------------------

@mixin aligner() {

  display: flex;
  align-items: center;
  justify-content: center;

// .aligner-item--top {
//   align-self: flex-start;
// }

// .aligner-item--bottom {
//   align-self: flex-end;
// }
}


// Spin
// --------------------------------------------------
@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
}

// Ellipsis
.ellipsis {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}