//
// activity
// --------------------------------------------------

.activity {
	margin-bottom: 20px;
    > .box {
        padding: 20px;
        > .activity-comments {
            margin-bottom: 10px;
        }
    }
}