//
// Avatar-Header
// --------------------------------------------------
.avatar-header-row {
    display: table-row;
}

.avatar-header-cell {
    display: table-cell;
    vertical-align: middle;
}

.avatar-header-cell.avatar {
    margin: 0 10px;
}

// .avatar-info-buttons
.avatar-info {
    .btn-group > .btn:nth-last-child(2){
        padding-right: 0px;
    }
}
