//
// Avatar-info-container
// --------------------------------------------------

.avatar-info {
    // margin-bottom: 20px;
    padding-left: 0;
    position: relative;
    padding: 0;
    @include aligner;
    .avatar {
        flex: none;
    }
    .avatar-info-title {
        flex: 1;
    }
    .avatar {
        margin-right: 10px;
    }
    h4, p {
        margin: 0;
    }
}