//
// Avatar-paragraph
// --------------------------------------------------

.avatar-paragraph {
    margin-bottom: 20px;
    .list-group-item-parragraph {
        margin: 10px 0;
    }
    .avatar {
        margin-right: 10px;
    }
}