//
// Avatar-info-container
// --------------------------------------------------

.avatar-info {
    margin-bottom: 20px;
    padding-left: 0;
    position: relative;
    display: block;
    padding: 0;
    .avatar {
        margin-right: 10px;
    }
}
