//
// Avatar
// --------------------------------------------------
.avatar {
    //$radius, $size, $borderColor, $borderSize
    @include avatar-variant(90px, 40px, white, 2px);
    color: white;
}

// Avatar Sizes
// --------------------------------------------------

.avatar-lg {
    //$radius, $size, $borderColor, $borderSize
    @include avatar-variant(90px, 126px, white, 2px);
}

.avatar-sm {
    //$radius, $size, $borderColor, $borderSize
    @include avatar-variant(90px, 30px, white, 2px);
}

//
// Avatar-info-container
// --------------------------------------------------

.avatar-info {
    margin-bottom: 20px;
    padding-left: 0;
    position: relative;
    display: block;
    padding: 0;
    .avatar {
        margin-right: 10px;
    }
}

//
// Avatar-actions
// --------------------------------------------------

.avatar-actions {
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    @extend .avatar;
    i {
        display: none;
    }
}

.avatar-actions-hover {
    &:hover {
        background: $brand_primary;
        padding: 10px;
        img {
            display: none;
        }
        .icon-checkbox {
            display: block;
        }
    }
}

.avatar-actions-active {
    background: $brand_primary;
    padding: 10px;
    img {
        display: none;
    }
    .icon-check {
        display: block;
    }
}

// SIZES
.avatar-actions-sm {
    @extend .avatar-sm;
    i {
        font-size: 10px;
    }
    &.avatar-actions-active {
        padding: 5px;
    }
    &:hover {
        padding: 5px;
    }
}

.avatar-actions-lg {
    @extend .avatar-lg;
    i {
        font-size: 60px;
    }
    &.avatar-actions-active {
        padding: 30px;
    }
    &:hover {
        padding: 30px;
    }
}

//
// Avatar-paragraph
// --------------------------------------------------

.avatar-paragraph {
    margin-bottom: 20px;
    .avatar {
        margin-right: 10px;
    }
}

//
// Avatar-info-box
// --------------------------------------------------
.avatar-info-box {
    margin: 10px 0;
}

//
// Avatar-HEADER
// --------------------------------------------------
.avatar-header-row {
    display: table-row;
}

.avatar-header-cell {
    display: table-cell;
    vertical-align: middle;
}

.avatar-header-cell.avatar {
    margin: 0 10px;
}

// .avatar-info-buttons
.avatar-info {
    .btn-group > .btn:nth-last-child(2){
        padding-right: 0px;
    }
}

//
// Avatar-paragraph-indent
// --------------------------------------------------
.avatar-paragraph-indent {
    .avatar-info-left,
    .avatar-info-right {
        display: table-cell;
    }
    .avatar-info-right {
        vertical-align: top;
    }
    .list-group-item-parragraph {
        margin-top: 10px;
    }
}

// @media screen and (min-width: $screen-sm-min) {
//     .avatar-info {
//         .btn:nth-last-child(n+2) {
//             display: block;
//         }
//     }
// }