//
// Avatar-icons
// --------------------------------------------------

.avatar-icon {
    @extend .avatar;
    @include avatar-icon-size(35px);
    &:hover, &:focus {
        text-decoration: none;
    }
    [class*="icon-"] {
        font-size: 24px;
    }
}

.avatar-icon-sm {
    @include avatar-icon-size(18px);
    [class*="icon-"] {
        font-size: 18px;
    }
}
.avatar-icon-lg {
    @include avatar-icon-size(105px);
    [class*="icon-"] {
        font-size: 30px;
    }
}

.avatar-icon-primary {
    @include avatar-icon-color($brand_primary);
}

.avatar-icon-success {
    @include avatar-icon-color($brand_success);
}

.avatar-icon-default {
    @include avatar-icon-color($gray);
}