//
// Avatar-paragraph-indent
// --------------------------------------------------
.avatar-paragraph-indent {
    >p {
        padding-left: 40px;
        margin: 0;
    }
    .avatar-info-buttons {
        margin-bottom: 0;
    }
}
