//
// Avatar-info
// --------------------------------------------------
.avatar-info {
    // margin-bottom: 20px;
    padding-left: 0;
    position: relative;
    padding: 0;
    @include aligner;
    > .avatar {
        flex: none;
    }
    > .avatar-info-title {
        flex: 1;
        > h4, > p {
            margin: 0;
        }
    }
    > .avatar {
        margin-right: 10px;
    }
}