//
// editableForm
// --------------------------------------------------

// TODO: clean

.editable-form {
    label {
        display: none;
    }
    label.visible {
        display: block;
    }
}

div[ng-app] {
    margin: 10px;
}

form[name="editableForm"] > div {
    height: auto;
    padding: 5px 0;
}

form[name="editableForm"] .title {
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 90px;
}

form[name="editableForm"] .editable {
    padding-top: 5px;
    vertical-align: top;
}

form[name="editableForm"] select {
    width: 120px;
}

form[name="editableForm"] .editable.editable-hide {
    display: none;
}