//
// editableForm
// --------------------------------------------------

.editable-form {
    > label {
        @extend .control-label;
    }
    textarea {
        @extend .textarea-vresize;
    }
    span{
        display: block;
    }
}

.editable-form-btn {
    @extend .btn;
    @extend .btn-link;
}

.editable-form-title {
    margin-top: 0;
}

.editable-form.edit-enabled {
    @extend .box;
    > label,
    > .footer-buttons {
        display: block;
    }
     .editable-form-btn {
        display: none;
    }
}
.editable-form.edit-disabled {
    > .editable-form-top {
        display: flex;
    }
    .editable-form-btn {
        display: block;
    }
    > label,
    > .footer-buttons {
        display: none;
    }
}