//
// Icon Label
// --------------------------------------------------

// Base class
.icon-label{
    color: $gray-dark;
    font-size: $font-size-base;
    margin: 0;
    .icon{
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    }
}