//
// Box
// --------------------------------------------------

// Base class
.icon-label{
    color: $gray-dark;
    font-size: 12px;
    i{
    font-size: 12px;
    display: inline-block;
    padding: 3px 0px;
    line-height: 1;
    text-align: center;
    }
}