//
// Mosaic
// --------------------------------------------------

// Base class
img.fit_cover {
    width: 100%;
    height: 100%;
}

.imageX {
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.mosaic {
    max-width: 500px;
    .fade {
        opacity: 0;
        @include transition(all 1s ease);
        &.in {
            opacity: 1;
        }
    }
    .thumb {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0;
        background-position: center center;
        background-size: cover;
    }
    margin-top: 10px;
    $box-width: 216px;
    $box-height: 216px;
    .pull-left {
        width: 50%;
    }
    .box-m4 {
        height: $box-height;
        width: 100%;
    }
    .box-m3 {
        height: $box-height / 3;
        width: 100%;
    }
    .box-m2 {
        height: $box-height / 2;
        width: 100%;
    }
    .box-m1 {
        height: $box-height;
        width: 50%;
    }
    .box-m0 {
        height: $box-height;
        max-width: 50vw;
        width: 100%;
    }
    .more {
        position: absolute;
        bottom: -1%;
        margin: 2px;
        padding: 2px;
        width: 100%;
        text-align: center;
        border: none;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.7);
        line-height: 1;
        color:white;
        .mosaic-number {

            font-size: 2em;
            font-weight: bold;
        }
    }
    .attachments {
        padding: 0;
    }
    ul.icons, div.icons {
        margin: 0;
        max-width: 30vw;
        height: 200px;
        li {
            margin: 1px;
            height: 40px;
            width: 40px;
            overflow: hidden;
        }
        .thumb {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    div {
        border: 1px solid white;
    }
}