//
// Plus
// --------------------------------------------------
// Base class
.plus {
    .dropdown-menu {
        padding: 0;
        overflow: visible;
    }
    .post-box-active {
        padding: 20px;
    }
    
    .thumbnail-box {
        margin: 5px;
    }
    .upload-box .drop-area{
        margin-bottom: 20px;
    }
}

.plus-content {
    width: 300px;
    padding: 0;
}

.plus-form {
    padding: 20px;
}

