//
// Post-box
// --------------------------------------------------

// Base class
.post-box {
    @include box-shadow(0px -1px 0px #bebebe inset);
    @extend .clearfix;
    @extend .box;
    input.select2-input.ui-select-search{
    width: 100%
    }
}

.post-box-top {
    display: flex;
    align-items: center;
    > a {
        margin-right: 10px;
        @extend .pull-left;
    }
}

//
// Post-box-Active
// --------------------------------------------------

// Base class
.post-box-active {
    @include box-shadow(0px -1px 0px #bebebe inset);
    padding: 14px;
    .post-box-top {
        margin-bottom: 10px;
        display: block;
    }
    > .post-box-content {
        margin-top: 4px;
    }
}

.post-box-head {
    background: white;
    padding: 14px;
    @extend .box;
}


