//
// Box
// --------------------------------------------------
$avatar-lg: 126px;

// Base class
.profile-block {
    .profile-block-top {
        margin-left: $avatar-lg;
        padding-left: 20px;
    }
    .profile-block-header {
        margin-top: 0;
    }
    .profile-block-bar {
        background-color: $brand-primary;
        margin-top: -32px;
        padding: 0;
        min-height: 45px;
        padding-top: 10px;
        padding-left: 148px;
    }
    .profile-block-following {
        margin-right: 30px;
    }
}

.profile-block {
    > .avatar {
        @extend .pull-left;
    }
}

.profile-block-top {
    @extend .clearfix;
    > .inner-left {
        @extend .pull-left;
    }
    > .inner-right {
        @extend .pull-right;
    }
}

.profile-block-follow {
    margin-top: 20px;
}