// WIP

//
// Sidemenu
// --------------------------------------------------
.sidemenu {
    padding-left: 0;
    margin: $navbar-height 0 0;
    list-style: none;
    width: $table-layout-left-width;
    background: $brand-gray-blue;
}

.sidemenu-item {
    border-bottom: 1px solid #131922;
    box-shadow: 0 2px 2px -3px #aaa;
    display: flex;
    align-items: center;
    &.selected {
        background: #0f131a;
        a {
            color: $gray;
        }
    }
    a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $gray;
        height: $navbar-height;
        padding-left: 20px;
        i {
            width: 30px;
        }
        &:hover {
            background: $brand-gray-blue-light;
            color: white;
        }
        &:active {
            background: $brand-gray-blue-dark;
        }
    }
}

.sidemenu-item,
.sidemenu-item a,
.sidemenu-item i {
    display: flex;
    align-items: center;
}